/*--------------------------------------
 *
 * G L O B A L
 *
 *--------------------------------------*/
html {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  text-align: center; }
  body img {
    border: none; }
  body a {
    outline: 0; }

/***
****
****  TOOLBAR
****
***/
  div#toolbar {
    float: right; }
  div#toolbar > * {
    cursor: pointer;
    display: inline-block;
    float: left; 
    color: #ecf0f1;
}
  div#toolbar > div#toolbar-separator {
    height: 25px;
    margin-top: 8px;
    margin-bottom: 5px;
    border-left: 1px solid #aaa;
    width: 3px; }
  div#toolbar > div#toolbar-open {
    /* background-image: url("images/toolbar-folder.png"); */ }
  div#toolbar > div#toolbar-remove {
    /* background-image: url("images/toolbar-close.png"); */ }
  div#toolbar > div#toolbar-start {
    /* background-image: url("images/toolbar-start.png"); */ }
  div#toolbar > div#toolbar-pause {
    /* background-image: url("images/toolbar-pause.png"); */ }
  div#toolbar > div#toolbar-start-all {
    background-image: url("images/toolbar-start-all.png"); }
  div#toolbar > div#toolbar-pause-all {
    background-image: url("images/toolbar-pause-all.png"); }
  div#toolbar > div#toolbar-inspector {
    background-image: url("images/toolbar-info.png");
    float: right;
    margin-right: 4px; }
  div#toolbar > *.disabled i.fa {
    color: #34495e; }

/***
****
****  STATUSBAR
****
***/
#statusbar {
  height: 200px;
  width: 100%; }
  #statusbar #filter {
    display: none;
    /* float: left; */
    /* margin-left: 5px; */ }
    #statusbar #filter input#torrent_search {
      height: 18px;
      width: 100px;
      border-radius: 6px; }
      #statusbar #filter input#torrent_search.blur {
        color: #999; }
    #statusbar #filter #filter-count {
      margin-left: 8px; }
  #speed-info {
    float: right;
    font-size: 14px;
    font-weight: 300;
}
    #speed-info * {
      display: inline-block; 
      line-height: 50px;
      color: #ffffff;
}
    #speed-info #speed-up-icon {
      margin-left: 10px; }
    #speed-info #speed-dn-icon {

    }

/***
****
****  TORRENT CONTAINER
****
***/
ul.torrent_list {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  cursor: pointer;
  /**
   * Progressbar
   *
   * Each progressbar has three elemens: a parent container and two children,
   * complete and incomplete.
   *
   * The only thing needed to set the progressbar percentage is to set
   * the complete child's width as a percentage. This is because incomplete
   * is pinned to the full width and height of the parent, and complete
   * is pinned to the left side of the parent and has a higher z-index.
   *
   * The progressbar has different colors depending on its state, so there
   * are five 'decorator' classNames: paused, queued, magnet, leeching, seeding.
   */ }
  ul.torrent_list li.torrent {
    padding: 20px 25px;
    color: #666666;
    background-color: #ecf0f1; 
    margin-top: 25px;
}
  ul.torrent_list li.torrent:first-child {
    margin-top: 0;
  }
    ul.torrent_list li.torrent.compact {
      padding: 4px; }
    ul.torrent_list li.torrent.even {
      background-color: #F7F7F7; }
    ul.torrent_list li.torrent.selected {
      background-color: #E3E7E8; }
    ul.torrent_list li.torrent.compact div.torrent_name {
      color: black; }
    ul.torrent_list li.torrent a {
      float: right;
      position: relative;
      right: -22px;
      top: 1px; }
      ul.torrent_list li.torrent a img {
        position: relative;
        right: -10px; }
      ul.torrent_list li.torrent a div {
        background: url("images/buttons/torrent_buttons.png");
        height: 14px;
        width: 14px; }
      ul.torrent_list li.torrent a div.torrent_pause {
        background-position: left top; }
      ul.torrent_list li.torrent a div.torrent_resume {
        background-position: center top; }
      ul.torrent_list li.torrent a:active div.torrent_pause {
        background-position: left bottom; }
      ul.torrent_list li.torrent a:active div.torrent_resume {
        background-position: center bottom; }
      ul.torrent_list li.torrent a:hover div.torrent_pause {
        background-position: left center; }
      ul.torrent_list li.torrent a:hover div.torrent_resume {
        background-position: center center; }
    ul.torrent_list li.torrent div.torrent_name {
      font-size: 14px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; 
      margin-bottom: 10px;
}
      ul.torrent_list li.torrent div.torrent_name.compact {
        font-size: 1.0em;
        font-weight: normal; }
      ul.torrent_list li.torrent div.torrent_name.paused {
        font-weight: normal;
        color: #777; }
    ul.torrent_list li.torrent div.torrent_progress_details,
    ul.torrent_list li.torrent div.torrent_peer_details {
      clear: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; 
      font-size: 12px;
}
    ul.torrent_list li.torrent div.torrent_progress_details.error,
    ul.torrent_list li.torrent div.torrent_peer_details.error {
      color: #F00; }
    ul.torrent_list li.torrent.selected div.torrent_progress_details.error, ul.torrent_list li.torrent.selected div.torrent_peer_details.error {
      color: #FFF; }
  ul.torrent_list div.torrent_progress_bar_container {
    height: 5px;
    position: relative; }
    ul.torrent_list div.torrent_progress_bar_container.compact {
      width: 50px;
      position: absolute;
      right: 10px;
      margin-top: 2px;
      /*float: right;*/ }
    ul.torrent_list div.torrent_progress_bar_container.full {
      margin-top: 10px;
      margin-bottom: 15px; }
  ul.torrent_list div.torrent_peer_details.compact {
    margin-top: 2px;
    margin-right: 65px;
    /* leave room on the right for the progressbar */
    float: right;
    /* pins it next to progressbar & forces torrent_name to ellipsize when it bumps up against this div */ }
  ul.torrent_list div.torrent_progress_bar {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px; }
    ul.torrent_list div.torrent_progress_bar.complete {
      z-index: 2;
      background: #27ae60; }
    ul.torrent_list div.torrent_progress_bar.complete.paused {
      background: #95a5a6; }
    ul.torrent_list div.torrent_progress_bar.incomplete {
      z-index: 1;
      width: 100%;
      background: #bdc3c7; }
    ul.torrent_list div.torrent_progress_bar.incomplete.paused {
      border-color: #CFCFCF; }

/****
*****
*****  DIALOGS
*****
****/
div.dialog_container .dialog_logo {
  width: 64px;
  height: 64px;
  margin: 20px 20px 0 20px;
  float: left;
  background: transparent url("images/logo.png") top left no-repeat; }

div.dialog_container div.dialog_window h2.dialog_heading {
  display: block;
  float: left;
  width: 305px;
  font-size: 1.2em;
  color: black;
  margin-top: 20px; }

div#upload_container div.dialog_window div.dialog_message label {
  margin-top: -5px;
  display: block; }

div#upload_container div.dialog_window div.dialog_message input[type=checkbox] {
  margin: 15px 3px 0 0;
  display: inline;
  width: auto; }

div#upload_container div.dialog_window div.dialog_message #auto_start_label {
  display: inline; }

div.dialog_container div.dialog_window form {
  margin: 0;
  padding: 0px; }

div#move_container input#torrent_path {
  width: 286px;
  padding: 2px; }

/** CUSTOM **/

div.torrent_pause,
div.torrent_resume,
div.torrent_footer,
div#torrent_inspector {
  display: none;
}
div.rowOfToolbar {
  position: relative;
  background: #2c3e50;
  z-index: 2;
}
div#toolbar i.fa {
  font-size: 22px;
  color: #ecf0f1;
  padding: 0 14px;
  line-height: 100px;
}
div#toolbar div:last-child i.fa {
  padding: 0 0 0 14px;
}
div.zoneTorrents {
  padding: 50px 0;
}
div.logo {
  float: left;
  color: #ecf0f1;
  font-size: 30px;
  font-weight: 100;
  line-height: 100px;
}
div.logo span {
  margin-left: 10px;
}
div.logo span i {
  font-style: normal;
  color: #16A085;
}
.zoneFilter {
  position: relative;
  background: #34495e;
  z-index: 1;
}
input#torrent_search {
  float: left;
  width: 50%;
  height: 50px;
  outline: none;
  border: none;
  padding-left: 30px;
  color: #ffffff;
  background: #34495E;
  font-family: 'Roboto', sans-serif;
}
input#torrent_search::-webkit-input-placeholder {
  color:#ffffff;
}
div#speed-info i.fa {
  margin-right: 5px;
  vertical-align: 1px;
}
div.zoneUpload {
  position: relative;
  height: 275px;
  margin-top: -275px;
  padding-top: 50px;
  opacity: 0;
  z-index: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
div.zoneUpload.active {
  margin-top: 0;
  opacity: 1;
}
div.dropZone {
  position: relative;
  color: #ECF0F1;
  background: #34495E;
  padding: 55px 0 0 0;
  height: 225px;
}
div.dropZone span {
  font-size: 20px;
  font-weight: 300;
}
div.dropZone input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
div.optionsDropZone {
  display: none;
}
label#add-dialog-folder-label {
  display: block;
  margin-bottom: 5px;
}
div.actionsDropZone {
  position: absolute;
  bottom: 55px;
  width: 100%;
}
div.actionsDropZone a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background: #ECF0F1;
  border-radius: 3px;
  color: #34495E;
}
div.actionsDropZone a i.fa {
  margin-right: 8px;
}
div.spaceDropZone {
  padding: 70px 0 0 0;
  height: 225px;
  background: rgb(236, 240, 241);
  font-size: 30px;
  font-weight: 300;
  color: #34495E;
}
body::-webkit-scrollbar {
  width: 0;
}
body::-webkit-scrollbar-track {
  background-color: #ecf0f1;
}
body::-webkit-scrollbar-thumb {
  background-color: #bdc3c7;
}
div.search:before {
  position: absolute;
  top: 0;
  left: 0.9375rem;
  content: "\f002";
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 50px;
  color: #ffffff;
}